* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

main {
  padding: 2em;
}



.gone {
  display: none;
}

#drop_target {
  border: dashed 3px #777;
  height: 200px;
  text-align: center;
}

#drop_target.dragover {
  background: #AAA;
}

#drop_target p {
  line-height: 200px;
  margin: 0;
}

table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2em;
}

thead th {
  text-align: left;
  padding: 0.125em 0.25em;
  border-bottom: solid 3px #000;
  border-left: solid 1px #AAA;
}

thead th:first-child {
  border-left: none;
}

tbody td {
  padding: 0.125em 0.25em;
  border-left: solid 1px #AAA;
  border-bottom: solid 1px #AAA;
  vertical-align: top;
}

tbody td:first-child {
  border-left: none;
}


tbody tr:nth-child(3n+1) {
  background: #DDD;
}

tbody tr:nth-child(3n+2) {
  background: #CCC;
}

tbody tr:hover {
  background: #FFC;
}




#status_line {
  position: fixed;
  width: 100%;
  padding: 0.25em 2em;
  bottom: 0;
  background: #EEE;
  border-top: solid 1px #999;
  margin-top: 20px;
  padding-top: 5px;
}

#status_line.error {
  color: #F00;
}

